[data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
  }

  .tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .tab {
    cursor: pointer;
    padding: 5px;
    font-size: large;
    font-weight: bold;
  }

  .tab.active {
    color: #443ac8;
    border-bottom: 3px solid #443ac8;
  }
  
  .tab:hover {
    color: #443ac8;
  }

  /* Media Queries */
@media only screen and (max-width: 768px) {
    .tab {
      font-size: 13px;
    }
    .tab.active {
      border-bottom: 2px solid #443ac8;
    }
  }

  .container {
    width: 100%;
    margin: 20px auto;
  }

  .blogs-home {
    margin-top: 0px;
  }

  .heading {
    text-align: center;
  }
  
  /****** MY BLOGS ******/
  .link {
    text-decoration: none;
  }
  .pdf-icon {
    width: 25px;
    height: 28px;
  }
  
  .title {
    color: #0089d0;
    display: inline;
  }
  

  #blogs-empty-case{
    margin: 35px 23px 23px 23px;
    font-weight: bold;
    color: #838383;
  }
  
  .blogs-card {
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
  }
  
  .blogs-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }




/****** DISCOVER BLOGS ******/

/* Input Bar */
.form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#input-field {
  position: absolute;
  width: 85%;
  height: 35px;
  border-right: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aab7ca;
  margin-left: auto;
  margin-right: auto;
}

input[type="text" i] {
  font-size: 14px;
}

/* Autocomplete Bar */
.autocomplete {
  width: 85%;
  position: absolute;
  background: #fff;
  list-style-type: none;
  margin-top: 35px;
  padding-left: 0;
  margin-left: auto;
  z-index: 10;
}

.autocomplete-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  border-top: none;
}

.autocomplete-items:hover {
  background-color: #e9e9e9;
}

.autocomplete-title {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
}

.add-button {
  width: 40px;
  height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  margin: auto 0 auto auto;
  border: none;
  font-size: 12px;
}

/* Card  */

#discover-cards-container {
  margin-top: 50px;
  z-index: 2;
}

.discover-card {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card-title {
  /* font-size: 14px; */
  padding: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.status-button {
  position: relative;
  border: none;
  color: white;
  padding: 5px 10px;
  height: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  background-color: #f11e0f;
  z-index: 1;
}

/* Loader */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
  z-index: 4;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
  .autocomplete-title {
    font-size: 15px;
  }
  .add-button {
    width: 50px;
    height: 26px;
    font-size: 14px;
  }
  #input-field,
  .autocomplete {
    width: 88%;
  }
}
@media only screen and (min-width: 1440px) {
  #input-field,
  .autocomplete {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 18px;
  }
  .title {
    font-size: 16px;
  }
  .summary {
    font-size: 14px;
  }
  .card-title {
    font-size: 14px;
    padding: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .pdf-icon {
    width: 20px;
    height: 22px;
  }
}