.dv-card {
    margin: 15px 5px 0px 5px;
    width: 165px;
    height: 163px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(0,0,0,0.22); */
    /* cursor: pointer; */
    transition: 0.4s;
  }

  /* .dv-card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), 
      -5px -5px 30px 7px rgba(0,0,0,0.22);
  } */

  .dv-card .dv-card-top{
    /* border-top-left-radius: inherit;
    border-top-right-radius: inherit; */
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    height: 115px;
  }
  /* .dv-card .dv-card-top:hover{
    border-radius: 10px 10px 0px 0px;
    overflow: scroll;
    height: 75%;
  } */

  .dv-card .dv-card_title {
    /* word-spacing: 9999rem; */
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    height: 115px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 16px;
    color: white;
    /* height: 30px; */
  }

  /*Chrome/Safari/Webkit */
  .disable-scrollbars::-webkit-scrollbar {
    /* display: none; */
    width: 0px;
    background: transparent; 
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.btn{
  font-size: 13px;
  padding: 2px 7px 2px 7px;
}

.dv-stick-top {
  z-index: 10;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}