
@media screen and (min-width: 500px){ 
    .social-share-mobile-only { 
        display: none 
    }

}

@media screen and (max-width: 500px){
  .remove-from-big-screens{
    display: none;
  }

  .concalls-border-all{
    border-radius: 10px;
  }

  .concalls-align{
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .concalls-border{
    border-radius: 40px;
  }

  .remove-from-small-screens{
    display: none;
  }

  .concalls-align{
    width: 100%;
  }
}

.dv-collapse-next{
  display: none;
}

.dv-trending-scroll::-webkit-scrollbar {
  display: none;
  overflow-x:scroll;
  overflow-y:hidden;
  width: 100%;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dv-trending-scroll {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
overflow-x:scroll;
overflow-y:hidden;
width: 100%;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
.rotate-infinite { animation: 1.5s rotate360 infinite linear; }

/* Card info */
.dv-card {
  /* margin: 0px 0px 0px 0px; */
  width: 95px;
  height: 150px;
  max-height: 200px;
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(0,0,0,0.22); */
  /* cursor: pointer; */
  transition: 0.4s;
}

/* .dv-card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), 
    -5px -5px 30px 7px rgba(0,0,0,0.22);
} */

.dv-card .dv-card-top{
  /* border-top-left-radius: inherit;
  border-top-right-radius: inherit; */
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  height: 95px;
  width: 100%;
}
/* .dv-card .dv-card-top:hover{
  border-radius: 10px 10px 0px 0px;
  overflow: scroll;
  height: 75%;
} */

.dv-card .dv-card-bottom{
  /* border-top-left-radius: inherit;
  border-top-right-radius: inherit; */
  border-radius:0px 0px 10px 10px;
  overflow: hidden;
  height: 55px;
  width: 100%;
}

.dv-announcements-card {
  /* margin: 0px 0px 0px 0px; */
  width: 125px;
  height: 150px;
  max-height: 200px;
  border-radius: 10px;
  /* box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25), -1px -1px 1px 1px rgba(0,0,0,0.22); */
  /* cursor: pointer; */
  transition: 0.4s;
}
.dv-announcements-card .dv-card-announcements-bottom{
  /* border-top-left-radius: inherit;
  border-top-right-radius: inherit; */
  border-radius:0px 0px 10px 10px;
  /* overflow: hidden; */
  text-align: center;
  vertical-align: middle;
  height: 55px;
  width: 100%;
}

.dv-card-title{
  text-align: center;
  font-weight: bold;
}

.dv-trending-image{
  border-radius: 10px 10px 0px 0px;
  width: 95px;
  height: 95px;
}

/*Chrome/Safari/Webkit */
.disable-scrollbars::-webkit-scrollbar {
  /* display: none; */
  width: 0px;
  background: transparent; 
}

.disable-scrollbars {
scrollbar-width: none; /* Firefox */
-ms-overflow-style: none;  /* IE 10+ */
}