{% extends 'bootstrap-skeleton.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/corporate_announcements/announcements_home.css' %}" />
{% endblock stylesheet %}

{% block head_tags %}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
{% endblock head_tags %}

{% block body_content %}

{% comment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endcomment %}

<div class="container announcements-home">
    <!-- ANNOUNCEMENTS TABS -->
    <ul class="tabs">
        <li data-tab-target="#my-announcements" id="my-announcements-tab" class="active tab" onclick="fetchAllAnnouncements()">My Announcements</li>
        <li data-tab-target="#discover-announcements" class="tab" id="discover-tab">
            Add/Remove Companies
        </li>
    </ul>

    <div class="tab-content">

        <!-- MY ANNOUNCEMENTS  -->
        <div id="my-announcements" data-tab-content class="active">
            
            <div>
                <p id="announcements-empty-case">
                </p>
            </div>
            <div class="container" id="announcements-cards-container">
                
            </div>

        </div>

        <!-- DISCOVER  ANNOUNCEMENTS -->
        <div id="discover-announcements" data-tab-content>
            
            <!-- Autocomplete Bar -->
            <div class="container">
                <form autocomplete="off" class="form">
                    <input id="input-field" placeholder="Search companies and click Add to receive corporate announcements" type="text">
                    <ul class="autocomplete"></ul>
                </form>
            </div>
            <!-- Cards Section -->
            <div class="container" id="discover-cards-container">
            </div>
        </div>

    </div>
</div>

{% endblock body_content %}

{% block js_includes %}
<script src="{% static 'js/corporate_announcements/announcements_home.js' %}"></script>
{% endblock js_includes %}