{% extends 'bootstrap-skeleton.html' %}

{% load static %}

{% comment %} {% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/corporate_announcements/announcements_discover.css' %}" />
{% endblock staticfiles %} {% endcomment %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/corporate_announcements/announcements_discover.css' %}" />
{% endblock stylesheet %}

{% block head_tags %}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">        
{% endblock head_tags %}

{% block body_content %}

{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}


    <!-- Heading -->
    <div class="container">
        <h3 class="heading">Discover Corporate Announcements</h3>
    </div>
    <!-- Autocomplete Bar -->
    <div class="container">
        <form autocomplete="off" class="form">
            <input id="input-field" placeholder="Search companies" type="text">
            <ul class="autocomplete"></ul>
        </form>
    </div>
    <!-- Cards Section -->
    <div class="container" id="cards-container">
    </div>

{% endblock body_content %}

{% block js_includes %}
    <script src="{% static 'js/corporate_announcements/announcements_discover.js' %}"></script>
{% endblock js_includes %}