{% extends 'bootstrap-skeleton.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/corporate_announcements/announcements.css' %}" />
{% endblock stylesheet %}

{% block head_tags %}
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">        
{% endblock head_tags %}

{% block body_content %}
<div class="header-container">
    <h3 class="heading">Your Corporate Announcements</h3>
</div>

<div class="cards-container">

    {% comment %} <div class="card">
        <h5 class="title"> ${item.title} </h5>
        <p class="time"> ${item.disseminated_time}</p>
        <hr/>
        <div class="summary">
            ${item.summary}
        </div>
        </div> {% endcomment %}
</div>

{% comment %} <script src="{% static 'js/corporate_announcements/announcements.js' %}"></script> {% endcomment %}
<script>
    const hostname = window.location.host;
    const endpoint = `http://${hostname}/corpann/api/fetch/announcements/`;

    fetch(endpoint)
        .then(function (response) {
            return response.json();
        })
        .then(function (data) {
            const newCard = data.data.map(item => {
                return `
                    <div class="card">
                    <h5 class="title"> ${item.title} </h5>
                    <p class="time"> ${item.disseminated_time}</p>
                    <hr/>
                    <div class="summary">
                        ${item.summary}
                    </div>
                    </div>
                `
            })

            document.querySelector(".cards-container").insertAdjacentHTML("afterbegin", newCard);
        })
        .catch(function (err) {
            console.log('error: ' + err);
        });

</script>
{% endblock body_content %}
