* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 30px auto;
}

/* Header */
.heading {
  text-align: center;
}

/* Input Bar */
.form {
  width: 100%;
  display: flex;
}

#input-field {
  width: 100%;
  height: 35px;
  border-right: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #aab7ca;
}

input[type="text" i] {
  font-size: 14px;
}

/* Autocomplete Bar */
.autocomplete {
  width: 76.5%;
  position: absolute;
  background: #fff;
  list-style-type: none;
  margin-top: 35px;
  padding-left: 0;
  margin-left: auto;
  z-index: 10;
}

.autocomplete-items {
  display: flex;
  padding: 0px 10px;
  cursor: pointer;
  border: 1px solid #d4d4d4;
  border-top: none;
}

.autocomplete-items:hover {
  background-color: #e9e9e9;
}

.autocomplete-title {
  margin-right: 20px;
  font-size: 14px;
}

.add-button {
  width: 50px;
  height: 26px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #4caf50;
  margin: auto 0 auto auto;
  border: none;
}

/* Card  */
.card {
  padding: 2% 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.status-button {
  position: relative;
  border: none;
  color: white;
  padding: 5px 10px;
  height: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  background-color: #f11e0f;
  z-index: 1;
}

/* Loader */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  border-radius: 50%;
  border-top: 2px solid #fff;
  border-right: 2px solid transparent;
  animation: spinner 0.6s linear infinite;
  z-index: 4;
}

@media only screen and (min-width: 425px) {
  .autocomplete {
    width: 77%;
  }
}

@media only screen and (min-width: 768px) {
  .autocomplete {
    width: 78.3%;
  }
}

@media only screen and (min-width: 1024px) {
  .autocomplete {
    width: 78.7%;
  }
}
@media only screen and (min-width: 1440px) {
  .autocomplete {
    width: 79.2%;
  }
}