.header-container {
  width: 80%;
  margin: 30px auto;
}

.heading {
  text-align: center;
}

.cards-container {
  width: 100%;
}

  .title{
    color: #0089d0;
  }

  .card {
    padding: 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: auto;
  }

.title {
  font-weight: bolder;
  font-size: 22px;
  margin-block: 0;
  /* color: #ffb535; */
  color: #4b0a0a;
}

hr {
  content: "";
  height: 5px;
  background: #ffb535;
  width: 35px;
  border-radius: 3px;
  margin-left: 0;
  border: none;
}

.time {
  font-size: 14px;
  color: #858080;
}

.summary {
  overflow-x: auto;
  margin-top: 15px;
}
