{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}
   

{% comment %} <h1>{% trans "Sign In" %}</h1> {% endcomment %}

{% comment %} <a href="{{ signup_url }}">   
    <button href="" class="btn btn-light z-depth-0 float-right border text-primary">
    Sign up</button>
</a> {% endcomment %}
<img class="img-fluid" src="{% static 'images/accounts/keepup_logo.jpg' %}" alt="Logo"/>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<!-- <p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p> -->
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="text-center">
    <div class="col">
      <button class="primaryAction btn btn-block z-depth-1 border text-primary" type="submit">{% trans "Sign In" %}</button>
    </div>
  </div>
</form>

<div class="text-center">
  <div class="mt-4">
    <p>  New to KeepUp?</p>
    <div class="col">
      <a href="{{signup_url}}" class="btn btn-primary btn-block">Create New Account</a>
    </div>
  </div>
</div>

<div class="mt-2">
  <p>Forgot Password ? <a class="button secondary btn-blockAction" href="{% url 'account_reset_password' %}">{% trans "Click here" %}</a></p>
</div>

{% endblock %}

