{% extends "account/base.html" %}

{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
{% comment %} <!-- <h1>{% trans "Sign Up" %}</h1> --> {% endcomment %}
{% comment %} <a href="{{ login_url }}">   
    <button href="" class="btn btn-light z-depth-0 float-right border text-primary">
    Sign in</button>
</a> {% endcomment %}
<img class="img-fluid" src="{% static 'images/accounts/keepup_logo.jpg' %}" alt="Logo"/>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'news:discovery_page' %}" />
  {% endif %}
  <div class="text-center py-2">
    <button class="primaryAction btn btn-block z-depth-1 border text-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
  </div>
</form>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

{% endblock %}

