<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GLGL5J53BG"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GLGL5J53BG');
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121464669-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-121464669-2');
        </script>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Keepup Live{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head_tags %}
        
        {% endblock head_tags %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

        {% block staticfiles %}
        {% endblock staticfiles %}

        {% block stylesheet %}
        {% endblock stylesheet %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% if not redirect_url %}
        <div id="top-navbar" class="container mx-auto">
          <nav class="navbar navbar-expand-lg navbar-light bg-white">
              {% comment %} <a class="navbar-brand" href="#">Keepup Live</a> {% endcomment %}
              <div class="">
                <a class="navbar-brand" href="{% url 'news:topic_feed' %}">
                  <img class="img-fluid" src="{% static 'images/accounts/keepup_logo.jpg' %}" alt="Logo" style="height:60px;" />
                </a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                  {% comment %} <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li> {% endcomment %}
                  {% if request.user.is_authenticated %}
                  <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'news:discovery_page' %}">Discover</a>
                  </li>
                  <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'news:landing_page' %}">Following</a>
                  </li>
                  {% comment %} <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'corporate_announcements:home_announcements' %}">My Announcements</a>
                  </li> {% endcomment %}
                  {% comment %} <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'corporate_announcements:corporate_announcements' %}">My Announcements</a>
                  </li>
                  <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'corporate_announcements:discover_announcements' %}">Discover Announcements</a>
                  </li> {% endcomment %}
                  <li class="nav-item d-flex justify-content-end">
                      <a class="nav-link font-weight-bold" href="{% url 'account_logout' %}">Logout</a>
                  </li>
                  {% endif %}
                  {% comment %} <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown link
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </li> {% endcomment %}
                  </ul>
              </div>
          </nav>
        </div>
        {% endif %}
        {% block body_content %}

        {% endblock body_content %}
        {% comment %} <script src="" async defer></script> {% endcomment %}
        <!-- JS, Popper.js, and jQuery -->

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        
        
        
        {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" integrity="sha512-m3kH21aSkKrGeoqdb7IP7rlu1VcQee5VrjLQepeSOp5M05Wl6HwqJ1Jwo14EHOuBg77pkAlBtQuVMPVeXzfueg==" crossorigin="anonymous"></script> {% endcomment %}

        {% block js_includes %}
        
        {% endblock js_includes %}
    </body>
</html>