{% include 'bootstrap-skeleton.html' %}

{% load news_home %}

{% load static %}

{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/admin_page.css' %}" />
{% endblock staticfiles %}

{% block content_body %}
<div class="container">
  <div class="row">

    <div class="col-lg-6 col-sm-12">
      <div class="card mb-4">
        <div class="card-header">
            Topics Existing
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Number of Articles</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Number of Articles</th>
                </tr>
              </tfoot>
              <tbody>
                {% for topic_name_count in descending_topic %}
                  <tr>
                    <td>{{topic_name_count.name}}</td>
                    <td>{{ topic_name_count.name_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="card mb-4">
        <div class="card-header">
            Users-Topic
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                    <th>User email</th>
                    <th>Number of Topics</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Number of Topics</th>
                </tr>
              </tfoot>
              <tbody>
                {% for user_topics_count in users_topics_count %}
                  <tr>
                    <td>{{user_topics_count.user__email}}</td>
                    <td>{{ user_topics_count.topic_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> 
    
  </div>

  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
            Users Followed Topics
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                    <th>User Topic</th>
                    <th>Users Following</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>User Topic</th>
                  <th>Users Following</th>
              </tr>
              </tfoot>
              <tbody>
                {% for topic_and_count in user_following_count %}
                  <tr>
                    <td>{{topic_and_count.topic__name}}</td>
                    <td>{{ topic_and_count.topic_name_count }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
      <div class="card mb-4">
        <div class="card-header">
            Users Count
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead class="thead-light">
                <tr>
                    <th>Total Users</th>
                    <th>{{users_count}}</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    
  </div>


</div>

{% endblock content_body %}