{% extends 'news/article_base.html' %}

{% block top_searchbar %}

  <div class="row" id="topbarsearch">
    <div class="input-field col s6 s12 red-text">
        
        <form action="{% url 'news:get_everything_by_query' %}" method="GET">
            <i class="grey-text material-icons prefix">search</i>
            <input type="text" name="query" placeholder="Enter a topic to search" id="autocomplete-input" class="autocomplete grey-darken-2-text" required>
            {% comment %} <button type="submit">Enter</button> {% endcomment %}
        </form>
        
    </div>
  </div>
{% endblock top_searchbar %}


{% block articles_list %}
      
  <div class="container">
    <!-- <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
    </div> -->
    {% for article in articles_list %}
    <div class="row">
        <div class="col s12 m12">
          <div class="card" >
            <div class="card-image">
              <img class="responsive-img" src="{{ article.urlToImage }}">
              
              {% comment %} <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a> {% endcomment %}
            </div>
            <div class="card-content">
                <h4>{{ article.title }}</h4>
                <h6>Article by : {{ article.author }} </h6>
                <p style="font-style: italic;">Source : {{ article.source.name}}</p><br>
                <p>Published on : {{ article.publishedAt }}</p>
                <p>{{ article.content}}</p>
            </div>
            <div class="card-action">
                <a target="__blank" class="btn waves-effect waves-light blue" href="{{ article.url }}">Link to article</a>
              </div>
          </div>
        </div>
    </div>
    {% endfor %}
  </div>
{% endblock articles_list %}
