<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %} News {% endblock %}</title>
        <meta name="description" content="">
        
        <!--Import Google Icon Font-->
        {% comment %} <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {% endcomment %}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="white">
            <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo red-text" style="margin-left:20px;">News</a>   
                <ul class="hide-on-med-and-down right">               
                    <li>    
                    <div class="center row">
                        <div class="col s12 " >
                            {% block top_searchbar %}
                            
                            {% endblock top_searchbar %}
                        </div>
                    </div>          
                    </li>                     
                    <li><a href="{% url 'home' %}" class="red-text">Home</a></li>

                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}" class="red-text">Log out</a></li>
                    {% endif %}
                    

                    <li><a href="" class="red-text">Sources</a></li>
                    <li><a href="{% url 'news:top_headlines' %}" class="red-text">Top Headlines</a></li>
                </ul>
            </div>
        </nav>

        {% block articles_list %}
        
        {% endblock articles_list %}
      

        {% block body_content %}
        {% endblock body_content %}

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
        <script src="" async defer></script>
    </body>
</html>