{% include 'bootstrap-skeleton.html' %}

{% load news_home %}

{% load static %}

{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/admin_page.css' %}" />
{% endblock staticfiles %}

{% block content_body %}

<div class="container">
  <div class="row">
    <div class="col">
        <!-- <div class="card mb-4"> -->
            <div class="py-3  text-break font-weight-bold">
                Concalls Today
            </div>
            <!-- <div class="card-body"> -->
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="white-space:nowrap">
                  <thead class="thead-light" style="white-space:nowrap">
                    <tr >
                        <th>Time</th>
                        <th>Company</th>
                        <th>Web Registration</th>
                        <th>Phone</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for object in objects_list %}
                      <tr>
                        <td>{{object.time}}</td>
                        <td>{{ object.company }}</td>
                        <td>
                          {% if object.web_registration|slice:":1" == '-' %}-{% else %}
                          <a target="__blank" class="btn btn-success" href="{{ object.web_registration }}" role="button">Register</a>
                          {% endif %}
                        </td>
                        {% comment %} <td>{{ object.phone }}</td> {% endcomment %}
                        <td>{% for number in object.phone %}<a href="tel:{{number}}">{{number}}</a> / {% endfor %}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            <!-- </div> -->
          <!-- </div> -->
    </div>
  </div>
</div>

{% endblock content_body %}