{% include 'bootstrap-skeleton.html' %}

{% load static %}


{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/discover_each.css' %}" />
{% endblock staticfiles %}

{% block content_body %}

<div class="container-fluid dv-stick-top bg-white">
  <div class="row py-2 justify-content-center">
      <div class="col-sm-12 col-md-8">
        <form class="input-group mb-3" action="{% url 'news:get_everything_by_query' %}" method="get">
          {% csrf_token %}
          <input type="search" class="form-control" placeholder="Search companies, sectors or topics" aria-label="Search Companies"
                  id="dv-autocomplete"  name="query" aria-describedby="basic-addon2" required> 
          <div class="input-group-append">
            <button class="btn btn-primary px-1" type="submit">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row my-3">
      <div class="col">
        <a href="{% url 'news:discovery_page' %}">
          <button type="button" class="btn btn-light" style="font-size: 12px;">&lt;&lt; Back</button>
        </a>
      </div>
      <div class="col ">
        <a href="{% url 'news:topic_feed' %}">
          <button type="button" class="btn btn-light d-inline float-right">Finish</button>
        </a>  
      </div>  
    </div>
</div>

<div class="container ">



  <div class="row">
    {% for item in items %}
      <div class="dv-card border mx-auto">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{item|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="{% url 'news:discover_each_item' field %}" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ item }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success btn-follow" style="height: 35px;margin: 5px; background-color: #63b502;padding: -2px;" onclick="save_scroll()">Follow</button>
                </div>
              </form>
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{item|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script>
  function save_scroll(){
    localStorage.setItem('my-scroll-pos', $(window).scrollTop());
  }
  $(function(){
      var pos = localStorage.getItem('my-scroll-pos', 0);
      if (pos){
        $(window).scrollTop(pos);
        localStorage.setItem('my-scroll-pos', 0);
      }
    });
  
</script>
<script src="{% static 'js/news/discover_each.js' %}" async defer></script>
{% endblock content_body %}
