{% include 'bootstrap-skeleton.html' %}

{% load static %}


{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/discovery_page.css' %}" />
{% endblock staticfiles %}

{% block content_body %}

<div class="container-fluid dv-stick-top bg-white">
  <div class="row py-2 justify-content-center">
    <div class="col-sm-12 col-md-8">
      <form class="input-group mb-3" action="{% url 'news:get_everything_by_query' %}" method="get">
        {% csrf_token %}
        <input type="search" class="form-control" placeholder="Search companies, sectors or topics" aria-label="Search Companies"
                id="dv-autocomplete"  name="query" aria-describedby="basic-addon2" required> 
        <div class="input-group-append">
          <button class="btn btn-primary px-1" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-10">
      <a href="{% url 'news:topic_feed' %}">
        <button type="button" class="btn btn-light d-inline float-right">Finish</button>
      </a>  
    </div>  
  </div> 
</div>

<div class="container">
  

  <div class="row ">
    <div class="col">
      <h5><strong>Sector News</strong></h5>
    </div>
    {% comment %} <div class="col ">
      <a href="{% url 'news:topic_feed' %}">
        <button type="button" class="btn btn-light d-inline float-right ">Finish</button>
      </a>  
    </div>   {% endcomment %}
  </div>

  <div class="row ">
    {% comment %} <div class="col">
      <h5><strong>Sector News</strong></h5>
    </div> {% endcomment %}
    {% comment %} <div class="col-sm-4 offset-sm-8">
      <a href="{% url 'news:topic_feed' %}">
        <button type="button" class="btn btn-info d-inline float-right">Finish</button>
      </a>  
    </div> {% endcomment %}
  </div>
  <div class="row mx-auto d-flex justify-content-center">
    {% for sector in sectors %}
      <div class="dv-card border">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{sector|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="{% url 'news:discovery_page' %}" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ sector }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success btn-follow" style="height: 35px;margin: 5px; background-color: #63b502;padding: -2px;">Follow</button>
                </div>
              </form>
              
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{sector|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-2">
    <div class="col">
      <a href="{% url 'news:discover_each_item' 'sectors' %}">
        <div class="d-flex justify-content-end ">
          <button type="button" class="btn btn-light" style="font-size: 12px;">more sectors</button>
        </div>
      </a>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col">
      <h5><strong>Company News</strong></h5>
    </div>
  </div>
  <div class="row mx-auto d-flex justify-content-center">
    {% for company in companies %}
      <div class="dv-card border">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{company|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="{% url 'news:discovery_page' %}" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ company }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success btn-follow" style="height: 35px;margin: 5px; background-color: #63b502;padding: -2px;">Follow</button>
                </div>
              </form>
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{company|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-2">
    <div class="col">
      <a href="{% url 'news:discover_each_item' 'companies' %}">
        <div class="d-flex justify-content-end ">
          <button type="button" class="btn btn-light" style="font-size: 12px;">more companies</button>
        </div>
      </a>
    </div>
    
  </div>


  <div class="row mt-4">
    <div class="col">
      <h5><strong>News by Topics</strong></h5>
    </div>
  </div>
  <div class="row mx-auto d-flex justify-content-center">
    {% for topic in topics %}
      <div class="dv-card border">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{topic|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="{% url 'news:discovery_page' %}" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ topic }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success btn-follow" style="height: 35px;margin: 5px; background-color: #63b502;padding: -2px;">Follow</button>
                </div>
              </form>
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{topic|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row my-2">
    <div class="col">
      <a href="{% url 'news:discover_each_item' 'topics' %}">
        <div class="d-flex justify-content-end ">
          <button type="button" class="btn btn-light" style="font-size: 12px;">more topics</button>
        </div>
      </a>
    </div>
    
  </div>

</div>

<script src="{% static 'js/news/discovery_page.js' %}" async defer></script>
{% endblock content_body %}