{% include 'bootstrap-skeleton.html' %}

{% load static %}

{% block content_body %}

<div class="container d-flex h-100" id="loading">
  <div class="row justify-content-center align-self-center">
    <img  id="loading-image" src="{% static 'images/news/loader.gif' %}" alt="Loading..." />
  </div>
</div>

<div id="success">

<style>
 .loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	{% comment %} background: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F56717276538397831%2F&psig=AOvVaw1fLqakXLalLGaPXIIN9qj5&ust=1605956018343000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMDt5sT6kO0CFQAAAAAdAAAAABAf') 50% 50% no-repeat rgb(249,249,249); {% endcomment %}
}
  
  #loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
  }
</style>

<script>

</script>

{% endblock content_body %}
