{% include 'bootstrap-skeleton.html' %}

{% load static %}


{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/landing_page.css' %}" />
{% endblock staticfiles %}

{% block content_body %}
<div class="container-fluid dv-stick-top bg-white">
  <div class="row py-3">
    <div class="col ">
      <a href="{% url 'news:topic_feed' %}">
        <button type="button" class="btn btn-light d-inline float-right">Finish</button>
      </a>  
    </div>  
  </div>
</div>
<div class="container">
  {% comment %} <div class="row">
    <div class="col">
      <a href="{% url 'account_logout' %}">   
        <button href="" class="btn btn-light z-depth-0 float-right border text-primary my-3">
          Logout</button>
      </a>
    </div>
  </div> {% endcomment %}
  {% comment %} <div class="row py-2 px-2 mt-4">
    <form class="input-group mb-3" action="#" method="post">
      {% csrf_token %}
      <input type="search" class="form-control" placeholder="Add companies, sectors or topics" aria-label="Search Companies"
                id="dv-autocomplete"    name="query" aria-describedby="basic-addon2" required> 
      <div class="input-group-append">
        <button class="btn btn-success px-4" type="submit">Add</button>
      </div>
    </form>
  </div>
  
  <div class="row justify-content-sm-right">
    <div class="col-sm-4 offset-sm-8">
      <a href="{% url 'news:topic_feed' %}">
        <button type="button" class="btn btn-info d-inline float-right">Finish</button>
      </a>
    </div>  
  </div> {% endcomment %}
  
  
  {% comment %} {% for user_topic in user_topics reversed  %}
  <div class="row pt-2 shadow-sm">
    <div class="col col-md-10">
        <a href="{% url 'news:get_everything_by_query' %}?query={{user_topic.topic.name|urlencode}}"
          class=" stretched-link">
          <p class="pt-3 text-secondary font-weight-bold align-middle text-uppercase">{{ user_topic.topic.name }}</p>
        </a>
    </div>
    <div class="col col-md-2 col-sm-6 d-flex d-inline justify-content-end">
      <form action="{% url 'news:unfollow_topic' %}" method="post">
      {% csrf_token %}
        <input type="text" name="topic" value="{{ user_topic.topic.name }}" class="form-control d-none">
        <a href=""><button type="submit" class="btn btn-danger text-white mt-2">Stop Following</button></a>
      </form>
    </div>
  </div> 
  {% endfor %} {% endcomment %}

  <div class="row">
    {% for user_topic in user_topics reversed  %}
      <div class="dv-card border mx-auto">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{user_topic.topic.name|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="{% url 'news:unfollow_topic' %}" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ user_topic.topic.name }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-success btn-follow" style="height: 35px;margin: 5px;padding: 2px 7px 2px 7px;font-size:13px;" onclick="save_scroll()">Unfollow</button>
                </div>
              </form>
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{user_topic.topic.name|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
    {% endfor %}
  </div>

  
  
  {% comment %} {% for default_topic in default_topics  %}
  <div class="dv-card border mx-auto">
        <div class="dv-card-top random-colour disable-scrollbars">
          <div class="dv-card_title vertical-center">
            <div class="vertical-center">
              {{default_topic.topic.name|title}}
            </div>
            
          </div>
        </div>
        <div class="dv-card-bottom">
          <div class="row">
            <div class="col">
              <form action="#" method="post">
              {% csrf_token %}
                <input type="" class="form-control d-none" aria-label=""
                                  name="topic" value="{{ default_topic.topic.name }}" >
                <div class="input-group-append">
                  <button type="submit" class="btn btn-danger btn-follow" style="height: 35px;margin: 5px;padding: -2px;font-size:14px;">Following</button>
                </div>
              </form>
            </div>
            <a href="{% url 'news:get_everything_by_query' %}?query={{default_topic.topic.name|urlencode}}" style="color: black;text-decoration: none">
              <div class="col">
                <div class="row" style="margin:5px 10px 0px 0px;padding-left: 5px;">
                  <img style="height:25px;width:25px" src="{% static 'images/news/view_button_original.png' %}" alt="">
                </div>
                <div class="row" style="margin:-9px 10px 0px 0px;font-size: 15px;">
                  View
                </div>
              </div>
            </a>
          </div>
          
        </div>
      </div>
  {% endfor %} {% endcomment %}

  <!-- <div class="row pt-5">
    <h5 class="font-weight-light">Topics being followeded</h5>
  </div>   -->
  
</div>
<script src="{% static 'js/news/landing_page.js' %}" async defer></script>
<script>
    $("#dv-autocomplete").autocomplete({
      source: "/news/autocomplete/",
      minLength: 1,
      open: function(){
          setTimeout(function () {
              $('.ui-autocomplete').css('z-index', 99);
          }, 0);
      }
    });

    function save_scroll(){
      localStorage.setItem('my-scroll-pos', $(window).scrollTop());
    }
    $(function(){
      var pos = localStorage.getItem('my-scroll-pos', 0);
      if (pos){
        $(window).scrollTop(pos);
        localStorage.setItem('my-scroll-pos', 0);
      }
    });
</script>

{% endblock content_body %}