{% include 'bootstrap-skeleton.html' %}

{% load news_home %}

{% load static %}

{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news/news_home.css' %}" />
{% endblock staticfiles %}

{% block content_body %}

{% if redirect_url %}
<div class="container d-flex justify-content-center" id="loading" style="height: 100vh;width: 100%;">
  <div class="d-flex align-self-center">
    <img class="rotate-infinite"  id="loading-image" src="{% static 'images/news/keepup_crop.jpg' %}" alt="Loading..." />
  </div>
  
</div>

<div id="success">

{% else %}

<div class="container mx-auto">
  <!-- <div class="row">
    <div class="col">
      <a href="{% url 'account_logout' %}">   
        <button href="" class="btn btn-light z-depth-0 float-right border text-primary my-3">
          Logout</button>
      </a>
    </div>
  </div> -->
  <div class="row pb-2 px-3">
    {% comment %} <div class="col-sm-12 col-md-2 d-flex justify-content-center">
      <a href="{% url 'news:topic_feed' %}">
        <img class="img-fluid" src="{% static 'images/accounts/keepup_logo.jpg' %}" alt="Logo" style="height: 50px;" />
      </a>
    </div> {% endcomment %}
    <div class="col-sm-12 col-md-12">
      <form class="input-group mb-3" action="{% url 'news:get_everything_by_query' %}" method="get">
        {% csrf_token %}
        <input type="search" class="form-control" placeholder="Search companies, sectors or topics" aria-label="Search Companies"
                id="dv-autocomplete"  name="query" aria-describedby="basic-addon2" required> 
        <div class="input-group-append">
          <button class="btn btn-primary px-1" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">

      {% for topic in topics  %}
      <div class="row py-3 shadow-sm">
        <div class="col-7 col-md-4">
          <p class="pt-3 text-secondary text-break font-weight-bold align-middle text-uppercase">
          {{ topic.name }}
          </p>
        </div>
        <div class="col-2 col-md-2 align-self-center">
          <form action="{% url 'news:topic_feed' %}" method="post">
          {% csrf_token %}
            {% comment %} <input type="text" name="topic" value="{{ user_topic.topic.name }}" class="form-control d-none"> {% endcomment %}
            <input type="" class="form-control d-none" aria-label=""
                              name="query" value="{{ topic.name }}" >
            <div class="input-group-append">
              <button class=" btn btn-success mt-2" type="submit">Follow</button>
            </div>
          </form>
        </div>
      </div>
      {% endfor %}

      {% for message in messages  %}
      <div class="row py-1">
        <div class="col ">
          <p class="pt-3 text-secondary font-weight-bold align-middle">
          {{ message }}
          </p>
        </div>
      </div>
      {% endfor %}

      {% if url == "topic_feed" and trending_topics_list %}
      <div class="row">
        <p class="mt-1 pt-3 text-dark font-weight-bold align-middle text-capitalize" style="font-size: 20px;">Trending</p>
      </div>
      <div class="row my-2" style="margin:0px -30px 0px 0px">
        
        <div class="dv-trending-scroll row flex-row flex-nowrap" >
          {% for object in trending_topics_list %}
          <a href="{% url 'news:get_everything_by_query' %}?query={{object.search_term|urlencode}}">
            <div class="col" style="padding: 0px 15px 0px 0px;">
              <div class="dv-card " style="padding: 0px 0px 0px 0px;">
                <div class="dv-card-top disable-scrollbars">
                  <div class="row mx-auto">
                    <img src="{{object.image_url}}" class="mx-auto dv-trending-image rounded-circle img-fluid border px-1 py-1"  alt="Responsive image">
                  </div>
                </div>
                <div class="row dv-card-bottom" style="margin:0px 0px 0px 0px">
                  <div class="pt-2 col-12 dv-card-title">
                    <div class="mx-auto text-secondary " style="font-size: 12px;">
                      <p class="" style="color: #2390cf;">{{object.disp_name}}</p>
                      {% comment %} <!-- This is a really really long text to see how things fits --> {% endcomment %}
                    </div>
                  </div>
                </div>
                {% comment %} <!-- <div class="row mx-auto">
                  <div class="dv-card_title vertical-center">
                    <div class="vertical-center">
                      <p>{{ object.disp_name }}</p>
                    </div>
                  </div>
                </div> --> {% endcomment %}
                
              </div>
            </div>
          </a>
          {% endfor %}
          
        </div>
        
      </div>
      {% endif %}
      
 
      {% if url == "topic_feed" %}

      <div class="row my-1 dv-trending-scroll row flex-row flex-nowrap" style="margin:0px -30px 0px 0px">
        
        <a href="{% url 'corporate_announcements:home_announcements' %}">
          <div class="col" style="padding: 0px 15px 0px 0px;">
            <div class="dv-announcements-card " style="padding: 0px 0px 0px 0px;">
              <div class="dv-card-top disable-scrollbars">
                <div class="row mx-auto">
                  <img src="{% static 'images/corporate_announcements/announcement_icon.png' %}" class="mx-auto dv-trending-image rounded-circle img-fluid border px-1 py-1"  alt="Responsive image">
                </div>
              </div>
              <div class="row dv-card-announcements-bottom" style="margin:0px 0px 0px 0px">
                <div class="pt-2 col-12 dv-card-title">
                  <div class="mx-auto text-secondary " style="font-size: 12px;">
                    <p class="" style="color: #2390cf;">Corporate Announcements</p>
                    <!-- This is a really really long text to see how things fits -->
                  </div>
                </div>
              </div>
              <!-- <div class="row mx-auto">
                <div class="dv-card_title vertical-center">
                  <div class="vertical-center">
                    <p>{{ object.disp_name }}</p>
                  </div>
                </div>
              </div> -->
              
            </div>
          </div>
        </a>

        <a href="{% url 'news:concalls_view' %}">
          <div class="col" style="padding: 0px 15px 0px 0px;">
            <div class="dv-announcements-card " style="padding: 0px 0px 0px 0px;">
              <div class="dv-card-top disable-scrollbars">
                <div class="row mx-auto">
                  <img src="{% static 'images/news/concalls/Concall Today 9-logo.jpg' %}" class="mx-auto dv-trending-image rounded-circle img-fluid border px-1 py-1"  alt="Responsive image">
                </div>
              </div>
              <div class="row dv-card-announcements-bottom" style="margin:0px 0px 0px 0px">
                <div class="pt-2 col-12 dv-card-title">
                  <div class="mx-auto text-secondary " style="font-size: 12px;">
                    <p class="" style="color: #2390cf;">Concalls Today</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </a>


        <a href="{% url 'news:blogs_news_page' %}">
          <div class="col" style="padding: 0px 15px 0px 0px;">
            <div class="dv-announcements-card " style="padding: 0px 0px 0px 0px;">
              <div class="dv-card-top disable-scrollbars">
                <div class="row mx-auto">
                  <img src="{% static 'images/corporate_announcements/announcement_icon.png' %}" class="mx-auto dv-trending-image rounded-circle img-fluid border px-1 py-1"  alt="Responsive image">
                </div>
              </div>
              <div class="row dv-card-announcements-bottom" style="margin:0px 0px 0px 0px">
                <div class="pt-2 col-12 dv-card-title">
                  <div class="mx-auto text-secondary " style="font-size: 12px;">
                    <p class="" style="color: #2390cf;">Blogs</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </a>
        
      </div>

       {% comment %} <div class="row ">
        <div class="col-7 col-md-4 remove-from-big-screens">
          <p class="pt-3 text-dark text-break font-weight-bold align-middle text-capitalize" style="font-size: 20px;">
          Concalls today
          </p>
        </div>
        <div class="col-2 col-md-2 align-self-center remove-from-big-screens">
          <a class="btn btn-light mt-2" href="{% url 'news:concalls_view' %}">View</a>
        </div> 


        <div class="  mx-auto remove-from-small-screens " >
          <a href="{% url 'news:concalls_view' %}">
            <img class="img-fluid mx-auto concalls-border-all concalls-border concalls-align border" src="{% static 'images/news/concalls/Concall Today 9.jpg' %}" alt="Concalls"
                style="height:160px">
          </a>
        </div>
      </div>{% endcomment %}

      <br> 

      
      {% endif %}

      

      {% comment %} {% if url == "topic_feed" %}
      <div class="row">
        <p class="mt-1 pt-3 text-dark font-weight-bold align-middle text-capitalize" style="font-size: 20px;">Trending</p>
      </div>
      <div class="row my-2" style="margin:0px -30px 0px 0px">
        
        <div class="dv-trending-scroll row flex-row flex-nowrap" >
          {% for object in trending_topics_list %}
          <a href="{% url 'news:get_everything_by_query' %}?query={{object.search_term|urlencode}}">
            <div class="col" style="padding: 0px 15px 0px 0px;">
              <div class="dv-card " style="padding: 0px 0px 0px 0px;">
                <div class="dv-card-top disable-scrollbars">
                  <div class="row mx-auto">
                    <img src="{{object.image_url}}" class="mx-auto dv-trending-image rounded-circle img-fluid border px-1 py-1"  alt="Responsive image">
                  </div>
                </div>
                <div class="row dv-card-bottom" style="margin:0px 0px 0px 0px">
                  <div class="pt-2 col-12 dv-card-title">
                    <div class="mx-auto text-secondary " style="font-size: 12px;">
                      <p class="" style="color: #2390cf;">{{object.disp_name}}</p>
                      <!-- This is a really really long text to see how things fits -->
                    </div>
                  </div>
                </div>
                <!-- <div class="row mx-auto">
                  <div class="dv-card_title vertical-center">
                    <div class="vertical-center">
                      <p>{{ object.disp_name }}</p>
                    </div>
                  </div>
                </div> -->
                
              </div>
            </div>
          </a>
          {% endfor %}
          
        </div>
        
      </div>
      {% endif %}

      {% if url == "topic_feed" %}
      <div class="row py-3 shadow-sm">
        <div class="col-7 col-md-4">
          <p class="pt-3 text-secondary text-break font-weight-bold align-middle text-capitalize" style="font-size: 20px;">
          Concalls today
          </p>
        </div>
        <div class="col-2 col-md-2 align-self-center">
          <a class="btn btn-light mt-2" href="{% url 'news:concalls_view' %}">View</a>
        </div>
      </div>
      <br>
      {% endif %} {% endcomment %}
      
      {% if articles_list %}
      {% for article in articles_list %}
        <div class="row">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-9 col-sm-push-3">
                <div class="card-body">
                  <a target="__blank" href="{{ article.url }}" class="">
                    <h5 class="card-title font-weight-bold  ">{{ article.title }}</h5>
                  </a>
                  {% comment %} <!-- <p class="card-text d-inline">Article by : {{ article.author }}</p> -->
                  <!-- <p class="card-text d-inline"><small class="text-muted">Source : {{ article.source.name}}</small></p> --> {% endcomment %}
                  <p class="card-text"><small class="text-muted">Published date and time : {{ article.publishedAt|format_my_date_string }}</small></p>
                  <p class="card-text">{{ article.content}}</p>
                </div>
              </div>
              <div class="col-md-3 d-flex justify-content-center col-sm-pull-9">
                    <img src="{{ article.urlToImage }}" class="img-thumbnail " alt="Image">
                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <div class="infinite-container">
          {% for article_map in articles_info_map.articles %}
          <div class="infinite-item">
            <div class="row">
              <div class="card mb-3 border-0 shadow-sm" style="box-shadow: 0 0 2px 2px grey; width:100%;">
                <div class="row no-gutters">
                  <div class="col-md-3 col-sm-pull-9 order-md-2">
                    {% if article_map.article_obj.urlToImage %}
                    <img src="{{ article_map.article_obj.urlToImage }}" class="borders-0 card-img-top px-3 pb-4 my-1" alt="Image">
                    {% else %}
                      {% if article_map.alternate_img %}
                        {% with article_map.alternate_img as image_static %}
                        <img src="{{image_static}}" class="borders-0 card-img-top px-3 pb-4 my-1" alt="Image">
                        {% endwith %}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="col-md-9 col-sm-push-3  order-md-1">
                    <div class="card-body">
                      {% comment %} {% for article_topic in article_topics  %}
                      
                        <a href="{% url 'news:get_everything_by_query' %}?query={{article_topic.name|urlencode}}">
                          <h5 class="font-weight-bold d-inline text-capitalize" style="color: #ef073e;">
                            {{ article_topic }} {% if forloop.last %}{% else %}|{% endif %}
                          </h5>
                        </a>
                      
                      {% endfor %} {% endcomment %}

                      {% for article_topic in article_map.related_topics  %}
                      <a href="{% url 'news:get_everything_by_query' %}?query={{article_topic|urlencode}}"
                      class="">
                          <h6 class="font-weight-bold d-inline text-uppercase" 
                          style="color: #ef073e;">
                          {{ article_topic }} {% if forloop.last %}{% else %}|{% endif %}</h6>
                        </a>
                      {% endfor %}
                      <a target="__blank" href="{{ article_map.article_obj.url }}" class="">
                        <h5 class="card-title font-weight-bold" style="color: #404145;" >{{ article_map.article_obj.title }}</h5>
                      </a>
                      {% comment %} <!-- <p class="card-text d-inline">Article by : {{ article.author }}</p> --> {% endcomment %}
                      {% if article_map.article_obj.source and article_map.article_obj.source.name %}
                        <p class="card-text d-inline"><small class="text-muted">{{ article_map.article_obj.source.name}}&nbsp;&nbsp;&nbsp;&nbsp; {{ article_map.article_obj.publishedAt|format_my_date_string }}</small></p>
                      {% else %}
                        {% if article_map.alternate_source %}
                          <p class="card-text d-inline"><small class="text-muted">{{ article_map.alternate_source}}&nbsp;&nbsp;&nbsp;&nbsp; {{ article_map.article_obj.publishedAt|format_my_date_string }}</small></p>
                        {% endif %}
                      {% endif %}
                      {% comment %} <p class="card-text"><small class="text-muted">Published date and time : </small></p> {% endcomment %}
                      <div class="mb-2" >
                        <!-- <div class="collapse" id="collapseContent{{forloop.counter0}}">
                          
                            <p class="card-text" style="color: #0c0c0c;">{{ article_map.article_obj.description}}</p>

                            <a target="__blank" href="{{ article_map.article_obj.url }}" class="">
                              <p class="font-weight-bolder card-text text-primary" 
                              {% comment %} style="color: #254dfd;" {% endcomment %}
                              >Read Full Article</p></a>
                        </div> -->

                        <!-- <a class="contentCollapsed text-secondary" role="button" data-toggle="collapse" href="#collapseContent{{forloop.counter0}}" 
                        aria-expanded="false" aria-controls="collapseContent{{forloop.counter0}}">more</a> -->

                        <a class="text-secondary" target="__blank" href="{{ article_map.article_obj.url }}">more</a>

                      </div>
                      
                        <div class="d-flex justify-content-left">
                          <a class="dv-collapse">
                            <img class="img-fluid" src="{% static 'images/news/share_logo.png' %}" alt="Share" style="height:20px;" /> 
                          </a>
                          
                            <div class="ml-1 dv-collapse-next" >
                              <div class="">
                                <a class="social-share-mobile-only ml-1" href="whatsapp://send?text={{article_map.article_obj.url}}%0a%0aKeep updated on '{{article_map.related_topics.0|lower}}' at {{request.get_host}}/follow/{{article_map.related_topics.0|replace_space_with_plus}}" data-action="share/whatsapp/share">
                                <img class="img-fluid" src="{% static 'images/news/whatsapp_logo_resized.png' %}" alt="Share" style="height:20px;" /></a>
    
                                <a target="__blank" class="ml-1" href="https://twitter.com/intent/tweet?text={{article_map.article_obj.url}}%0a{{article_map.article_obj.title}}%0a%0aKeep updated on '{{article_map.related_topics.0|lower}}' at {{request.get_host}}/follow/{{article_map.related_topics.0|replace_space_with_plus}}" class="twitter-share-button" data-show-count="false">
                                <img class="img-fluid" src="{% static 'images/news/twitter_logo.png' %}" alt="Tweet" style="height:20px;" /></a>
                              </div>
                            </div>
                          
                        </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="loading" style="display: none;">
          <div class="d-flex justify-content-center mt-2">
            <div class="spinner-border text-success text-center" role="status" style="width: 3rem; height: 3rem;">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        {% if articles_info_list.has_next %}
          {% if "get_everything_by_query" in url %}
            <a class="infinite-more-link" href="{% url 'news:get_everything_by_query' %}?page={{ articles_info_list.next_page_number|urlencode }}&query={{searched_query|urlencode}}">More</a>
          {% else %}
            {% if "topic_feed" in url %}
              <a class="infinite-more-link" href="{% url 'news:topic_feed' %}?page={{ articles_info_list.next_page_number|urlencode }}">More</a>
            {% elif "get_topic_by_query" in url %}
              <a class="infinite-more-link" href="{% url 'news:get_topic_by_query' searched_query|urlencode %}?page={{ articles_info_list.next_page_number|urlencode }}">More</a>
            {% endif %}
          {% endif %}
        {% endif %}


      {% endif %}

    </div>
  </div>
</div>

{% endif %}
<script type="text/javascript">
  $(window).on('load',function(e){
      $.ajax({
          url: "{{redirect_url}}",
          success: function(data){
              $('#success').html(data);
              $('#loading').remove();
          },
          error: function(){
            alert("Error. Please reload");
          }
      });
    });

  
</script>

<script src="{% static 'js/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/waypoints/infinite.min.js' %}"></script>
<script src="{% static 'js/news/news_home.js' %}" async defer></script>
{% endblock content_body %}