{% extends 'news/article_base.html' %}

{% block body_content %}

    <div class="container">
        <div class="row">
            <div class="valign-wrapper" style="width:80%;height:85%;position: absolute;">
                <div class="valign" style="width:85%;">
                    <p>Enter your search term below</p>
                    <nav class="white">
                        <div class="nav-wrapper">
                            <!-- <i class="material-icons prefix">search</i> -->
                            <form action="{% url 'news:get_everything_by_query' %}" method="GET">
                                <div class="input-field center-aligned">
                                    <input id="search" type="search" name="query" required>
                                    <label class="label-icon gray" for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock body_content %}